name: ML_sdfi_tmptest
channels:
  - pytorch-nightly
  - nvidia
  - conda-forge
  - fastai
  - pytorch
dependencies:
  - python=3.9
  - gdal
  - pillow
  - pandas
  - fastai
  - reportlab
  - psutil
  - rasterio
  - torchvision==0.17.1
  - pytorch==2.2.1
  - pytorch-cuda=12.1
  - pip
  - pip:
      - git+https://github.com/rasmuspjohansson/albumentations-multi-channels
      - git+https://github.com/walkwithfastai/walkwithfastai.github.io
